.search-form {
  position: sticky;
  top: 0;
  background-color: aqua;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
// .photo-card {
// }
.photo-card:not(last-child) {
  margin-right: 10px;
}
.is-hidden {
  display: none;
}
